:root{
    --color-principal: #e01212;
    --color-secundario: #a17271;
    --color-terceario: #4a271f;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #518159;
}